#main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.result-grid {
  color: #080100;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 0;
}

.list-grid-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.list-grid-item .item-grid {
  border: 1px solid rgb(226, 220, 220);
  border-radius: 5px;
}

.list-grid-item .item-grid:hover {
  border: 1px solid rgb(126, 122, 122);
  border-radius: 5px;
}

.item-grid .thumbnail-grid .image-grid {
  height: 256px;
}

.item-grid .thumbnail-grid .image-grid img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 100%;
}

.dec-grid {
  padding: 0 16px;
  color: #080100;
  margin-top: 12px;
}

.dec-grid .details-item .kingdom-phylumn {
  font-weight: 500;
}

.dec-grid .details-item .name-item {
  font-size: 20px;
  font-weight: 800;
  margin-top: 12px;
}

.dec-grid .details-item .scientific-name {
  font-size: 16px;
  font-style: italic;
  margin-top: 12px;
  font-weight: 600;
}

.dec-grid .current-item {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dec-grid .current-item .status-item {
  display: flex;
  justify-content: space-between;
}

.dec-grid .current-item .status-item .red-book-item,
.dec-grid .current-item .status-item .iucn-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
}

.dec-grid .current-item .status-item .red-book-item {
  margin-right: 5px;
  background-color: #e91e63;
}

.dec-grid .current-item .status-item .iucn-item {
  background-color: #f44336;
}

hr {
  margin: 20px 0;
}

.other-result {
  margin-bottom: 20px;
}

.kind-status {
  font-weight: 600;
}
